div#home
	text-align: left

	& > div#neuroanatomy_intro
		margin-bottom: calc(var(--gap))
		width: calc(var(--w) * 0.6)

		& > p
			&:first-of-type
				font-family: OpenSansBold
	//& > span.bold:after
		content: " "

	& > div.brain
		margin-bottom: var(--big_gap)


		& > p.text
			width: calc(var(--w) * 0.6)


		& > div.sketchfab-embed-wrapper
			& > iframe
				@include iframeMixin()


