carousel
  $top: 80px
  top: $top
  position: relative
  @import "mixins"
  @include background-image("carousel/images/cortical_fingerprinting.jpg")
  @include background-size(cover)
  background:
    repeat: no-repeat
    position: center

  headline
    font-size: $top / 2
