
carousel
  $top: 80px
  top: $top
  position: relative
  display: block
  @include background-image("carousel/images/cortical_fingerprinting.jpg")
  @include height-fill-available()
  @include background-size(cover)
  background:
    repeat: no-repeat
    position: center

  headline
    font-size: $top / 2
