@import "common/mixins"
@font-face
    font-family: "OpenSans"
    src: url("common/fonts/OpenSans-Regular.ttf")

@font-face
    font-family: "OpenSansSemiBold"
    src: url("common/fonts/OpenSans-SemiBold.ttf")

@font-face
    font-family: "OpenSansBold"
    src: url("common/fonts/OpenSans-Bold.ttf")

@font-face
    font-family: "OpenSansLight"
    src: url("common/fonts/OpenSans-Light.ttf")

@font-face
    font-family: "OpenSansLightItalic"
    src: url("common/fonts/OpenSans-LightItalic.ttf")

@font-face
    font-family: "OpenSansItalic"
    src: url("common/fonts/OpenSans-Italic.ttf")

html
    min-height: 100%

body
    margin: 0
    overflow: overlay
    font-family: "OpenSans", sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: #333

a
    text-decoration: none
    color: $googleBlue
    transition: color 200ms ease-out

    &:hover
        color: #888

main
    @media screen and (min-width: 1600px)
        margin: 40px auto
    @media screen and (max-width: 1600px)
        margin: 30px auto

    max-width: 100%
    text-align: center
    @import 'main/navbar/navbar.sass'

    separators
        margin:
            top: 0
            right: auto
            bottom: 40px
            left: 0
        display: inline-block

        & > separator
            position: absolute
            height: 1px
            width: 50%


        separator.right
            left: 50%

            background:
                image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0) 80%)

        separator.left
            left: 0
            background:
                image: linear-gradient(90deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.2) 30%)


    home
        //margin-top: 40px
        //padding-top: 40px
        //border-top:
        position: relative
        display: block
        //display: none
        opacity: 1

        // TODO: when does this happen?
        &[class~="squeezed"]
            margin: 0 20px

#window_stats
    display: none
    position: fixed
    bottom: 0
    background-color: rgba(0, 0, 0, 0.5)
    color: white

@import 'main/home/home.sass'
@import 'main/research/research.sass'
@import 'main/people/people.sass'
@import 'main/publications/publications.sass'
