@charset "UTF-8";
:root {
  --W0: 1200px;
  --W1: 984px;
  --GAP0: 60px;
  --GAP1: 40px;
  --GOOGLEBLUE: rgb(59, 130, 240);
  --GREY00: rgb(255, 255, 255);
  --GREY01: rgb(250, 250, 250);
  --GREY02: rgb(242, 242, 242);
  --GREY2: rgb(221, 221, 221);
  --GREY3: rgb(204, 204, 204);
  --GREY4: rgb(187, 187, 187);
  --GREY5: rgb(153, 153, 153);
  --GREY6: rgb(136, 136, 136);
  --GREY7: rgb(68, 68, 68);
  --GREY8: rgb(40, 40, 40);
  --TRANS: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: "OpenSans";
  src: url("common/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("common/fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "OpenSansBold";
  src: url("common/fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSansLight";
  src: url("common/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSansLightItalic";
  src: url("common/fonts/OpenSans-LightItalic.ttf");
}
@font-face {
  font-family: "OpenSansItalic";
  src: url("common/fonts/OpenSans-Italic.ttf");
}
html {
  min-height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--GREY7);
  font-family: "OpenSans", sans-serif;
  margin: 0;
  line-height: 24px;
}
@media screen and (min-width: 1340px) {
  body {
    --w: var(--W0);
  }
}
@media screen and (max-width: 1340px) {
  body {
    --w: var(--W1);
  }
}
@media screen and (min-width: 1340px) {
  body {
    --gap: var(--GAP0);
  }
}
@media screen and (max-width: 1340px) {
  body {
    --gap: var(--GAP1);
  }
}
body.theater {
  background-color: var(--GREY8);
}

h1 {
  text-align: left;
  margin: unset;
  font-family: OpenSansBold;
  font-size: 36px;
  margin-bottom: 20px;
  line-height: calc(36px * 1.5);
  color: var(--GREY8);
  letter-spacing: -0.5px;
}

p {
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  margin-block-start: 0;
}

p.bold, div.bold, span.bold {
  font-family: OpenSansBold;
}

a {
  text-decoration: none;
  color: var(--GOOGLEBLUE);
  transition: color 200ms ease-in-out;
}
a:after {
  transition: opacity 200ms ease-in-out;
  content: "";
  opacity: 0;
}
a:hover {
  color: var(--GREY6);
}
a.arrow:after {
  opacity: 1;
  content: " ↗";
}
a.arrow-trans:after {
  opacity: 0;
  content: " ↗";
}

div#main {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}
@media screen and (min-width: 1340px) {
  div#main {
    width: var(--W0);
  }
}
@media screen and (min-width: 1023px) and (max-width: 1340px) {
  div#main {
    width: var(--W1);
  }
}
div#main div#navbar {
  --fontSize: 20px;
  position: fixed;
  width: inherit;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.92);
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
  font-size: var(--fontSize);
  height: 70px;
  margin: auto auto 0 auto;
}
@media screen and (min-width: 1340px) {
  div#main div#navbar {
    --imgWidth: 80px;
  }
}
@media screen and (max-width: 1340px) {
  div#main div#navbar {
    --imgWidth: 75px;
  }
}
div#main div#navbar.box-shadow {
  box-shadow: inset 0 -1px 0 0 var(--GREY2);
}
div#main div#navbar > div, div#main div#navbar > img {
  cursor: pointer;
}
div#main div#navbar > div, div#main div#navbar > img.home {
  margin-top: auto;
  margin-right: calc(var(--fontSize) * 2);
  margin-left: 0;
  margin-bottom: auto;
}
div#main div#navbar > img.home {
  width: 60px;
  margin: auto auto auto 0;
}
div#main div#navbar > img.uni {
  height: 40px;
  margin: auto 0;
}
div#main div#navbar > div:nth-last-child(2) {
  margin-right: auto;
}
div#main div#navbar > div {
  display: block;
  padding: 10px 0;
  transition: color 200ms ease-in-out, border-bottom-color 200ms ease-in-out;
}
div#main div#navbar > div:hover {
  color: black;
}
div#main div#navbar > div.selected {
  color: black;
}
div#main div#navbar > div.pale {
  color: var(--GREY6);
}
div#main div#home {
  display: block;
  opacity: 1;
  position: relative;
  padding-top: 110px;
}

#window_stats {
  display: none;
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

div#intro {
  display: flex;
  margin-bottom: var(--gap);
  position: relative;
  text-align: left;
}
div#intro > div#about {
  text-align: left;
  width: calc((var(--w) * 2 / 3) - var(--gap));
}
div#intro > div#about > img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: var(--gap);
  width: inherit;
}
div#intro > div#about > div {
  position: relative;
}
div#intro > div#right_widget {
  width: 542px;
  height: 640px;
  border-radius: 20px;
  box-shadow: 0 2px 10px 2px var(--GREY02);
  display: flex;
  flex-direction: column;
  margin-left: var(--gap);
}
div#intro > div#right_widget > div#news_cover_image_container {
  background-color: var(--GREY02);
  padding: 24px 32px;
  border-radius: 20px 20px 0 0;
}
div#intro > div#right_widget > div#news_cover_image_container > img {
  width: 478px;
}
div#intro > div#right_widget > div#news {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  line-height: 32px;
  position: relative;
}
div#intro > div#right_widget > div#news > div.title {
  font-size: 20px;
  font-family: OpenSansBold;
  line-height: 20px;
  color: var(--GREY8);
  margin-bottom: unset;
}
div#intro > div#right_widget > div#news > div.date {
  color: var(--GREY5);
}
div#intro > div#right_widget > div#news > div.date.mb {
  margin-bottom: 15px;
}
div#intro > div#right_widget > div#news > div.content {
  font-size: 20px;
}
div#intro > div#right_widget > div#radios {
  margin: auto auto 32px auto;
}
div#intro > div#right_widget > div#radios > .radio {
  border-width: 1px;
  border-color: var(--GREY3);
  border-style: solid;
  background-color: white;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;
  transition: background 100ms;
  width: 15px;
}
div#intro > div#right_widget > div#radios > .radio[class~=selected] {
  background-color: var(--GREY3);
  border-color: var(--GREY4);
}

div#research_snippets_container {
  text-align: left;
}
div#research_snippets_container > div#research_snippets {
  --snippetWidth: calc((var(--w) - 3 * var(--GAP1)) / 4);
  display: grid;
  grid-template-columns: repeat(4, var(--snippetWidth));
  grid-column-gap: var(--GAP1);
  grid-row-gap: var(--GAP1);
}
div#research_snippets_container > div#research_snippets > div.snippet {
  width: var(--snippetWidth);
  cursor: pointer;
}
div#research_snippets_container > div#research_snippets > div.snippet:hover > img, div#research_snippets_container > div#research_snippets > div.snippet:hover > div {
  transform: translateY(-4px);
}
div#research_snippets_container > div#research_snippets > div.snippet:hover > img {
  box-shadow: 0 2px 10px 2px var(--GREY4);
}
div#research_snippets_container > div#research_snippets > div.snippet > img, div#research_snippets_container > div#research_snippets > div.snippet > div {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
div#research_snippets_container > div#research_snippets > div.snippet > img {
  width: inherit;
  border-radius: 20px;
}
div#research_snippets_container > div#research_snippets > div.snippet > div.snippet-title {
  font-family: OpenSansSemiBold;
  margin-top: 8px;
}

div#funding {
  text-align: center;
  margin-top: var(--gap);
  margin-bottom: var(--gap);
}
div#funding > div#sponsors {
  --rowLength: 3;
  --sponsorWidth: calc((var(--w) - calc(var(--rowLength) - 1) * var(--GAP1)) / var(--rowLength));
  display: grid;
  grid-template-columns: repeat(var(--rowLength), var(--sponsorWidth));
  grid-column-gap: var(--GAP1);
  grid-row-gap: var(--GAP1);
}
div#funding > div#sponsors > div.sponsor {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
div#funding > div#sponsors > div.sponsor > img {
  width: 160px;
  height: 160px;
  margin: 0 auto calc(var(--gap) / 2) auto;
  object-fit: contain;
}
div#funding > div#sponsors > div.sponsor > div.sponsor-title {
  font-family: OpenSansBold;
  margin-top: 0;
  margin-bottom: 8px;
}
div#footer {
  box-shadow: 0 -1px 0 var(--GREY2);
  padding-top: 30px;
}
div#footer > div#logos > img {
  cursor: pointer;
  height: 72px;
  margin: 0 calc(var(--gap) / 2);
}

div#home > div.article {
  display: grid;
  grid-column-gap: var(--gap);
  height: auto;
  margin-bottom: calc(var(--gap) * 2);
  text-align: left;
}
div#home > div.article > h1 {
  border-bottom: 1px solid var(--TRANS);
  margin-bottom: 18px;
  padding-bottom: 2px;
  transition: color 0.6s ease-in-out;
  width: fit-content;
  grid-column: 1/1;
}
div#home > div.article > h1.highlighted {
  color: var(--GOOGLEBLUE);
}
div#home > div.article[class~=reverse] > h1 {
  grid-column: 2/2;
}
div#home > div.article > p.text {
  grid-column: 1/1;
}
div#home > div.article[class~=reverse] > p.text {
  grid-column: 2/2;
  grid-row: 2/2;
}
div#home > div.article > img {
  width: 542px;
  object-fit: contain;
  margin: auto;
  border-radius: 15px;
  grid-column: 2/2;
  grid-row: 2/2;
}
div#home > div.article > img.circle {
  --dim: 440px;
  border-radius: 50%;
  object-fit: cover;
  width: var(--dim);
  height: var(--dim);
  margin-left: calc(542px - var(--dim));
}
div#home > div.article[class~=reverse] > img {
  grid-column: 1/1;
}

div#home.people-page > div.title {
  font-family: OpenSansBold;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: calc(24px * 1.5);
  text-align: left;
}
div#home.people-page > div.grid {
  display: grid;
  --tagWidth: calc((var(--w) - (var(--gap) * 3)) / 4);
  margin-bottom: var(--gap);
  grid-template-columns: repeat(4, var(--tagWidth));
  grid-template-rows: repeat(2, auto);
  grid-row-gap: var(--gap);
  grid-column-gap: var(--gap);
  text-align: center;
}
div#home.people-page > div.grid div.person {
  margin: auto;
}
div#home.people-page > div.grid div.person:nth-of-type(4n+4) {
  margin: 0 0px auto auto;
}
div#home.people-page > div.grid div.person:nth-of-type(4n+1) {
  margin: 0 auto auto 0;
}
@media screen and (min-width: 1023px) {
  div#home.people-page > div.grid div.person {
    width: var(--tagWidth);
  }
}
div#home.people-page > div.grid > div.person {
  cursor: pointer;
  height: 100%;
  transition: opacity 500ms;
}
div#home.people-page > div.grid > div.person.unfocused {
  opacity: 0.4;
  filter: blur(2px) contrast(0.8);
}
div#home.people-page > div.grid > div.person > img {
  width: inherit;
  height: calc(var(--tagWidth) / (4 / 3));
}
div#home.people-page > div.grid > div.person > div {
  text-transform: capitalize;
}
div#home.people-page > div.grid > div.person > div.name {
  font-size: large;
  font-family: OpenSansSemiBold;
}
div#home.people-page > div.grid > div.person > div.role {
  color: var(--GREY6);
  font-family: OpenSansItalic;
}
div#home.people-page > div.grid > div#person_expando {
  border-width: 1px;
  border-color: var(--GREY02);
  border-style: solid;
  border-radius: 2px;
  --expandoPadding: calc(var(--gap) / 2);
  background-color: white;
  box-shadow: 0px 1px 2px white;
  color: white;
  height: 0;
  margin-top: calc(var(--gap) * -5 / 6);
  overflow: hidden;
  padding: var(--expandoPadding);
  text-align: left;
  transition: height 50ms, width 200ms cubic-bezier(0.5, 0, 1, 0), color 300ms cubic-bezier(1, 0, 1, 0), box-shadow 1500ms, border 500ms cubic-bezier(0, 0, 1, 0);
  width: calc(var(--tagWidth) - 2 * var(--expandoPadding));
}
@media screen and (max-width: 1340px) {
  div#home.people-page > div.grid > div#person_expando {
    font-size: 15px;
  }
}
div#home.people-page > div.grid > div#person_expando > div.cv > p {
  font-size: unset;
  line-height: unset;
}
div#home.people-page > div.grid > div#person_expando > svg#svg_root {
  --dim: calc(var(--gap) / 4);
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: calc(var(--dim) * -1);
  margin-top: calc(var(--dim) * -1);
  position: relative;
  width: var(--dim);
}
div#home.people-page > div.grid > div#person_expando > svg#svg_root > path {
  fill: none;
  stroke-width: 1px;
  stroke: var(--GREY6);
}
div#home.people-page > div.grid > div#person_expando > svg#svg_root > path.upright {
  d: path("m 14 1 l -13 13");
}
div#home.people-page > div.grid > div#person_expando > svg#svg_root > path.downleft {
  d: path("m 1 1 l 13 13");
}
div#home.people-page > div.grid > div#person_expando > a {
  color: white;
  transition: color 300ms cubic-bezier(1, 0, 1, 0);
}
div#home.people-page > div.grid > div#person_expando.collapsed {
  padding: 0;
}
div#home.people-page > div.grid > div#person_expando.expanded {
  border-color: white;
  box-shadow: 0px 2px 10px var(--GREY3);
  color: var(--GREY7);
  height: 300px;
  width: calc(var(--tagWidth) * 2);
}
div#home.people-page > div.grid > div#person_expando.expanded > div.email {
  margin-top: calc(var(--gap) / 6);
}
div#home.people-page > div.grid > div#person_expando.expanded > div.email > a {
  color: var(--GOOGLEBLUE);
}
div#home.people-page > div.grid > div#person_expando.expanded > div.close {
  opacity: 1;
}

div#publications_container > div.year {
  border-left: 1px solid var(--GREY2);
  padding-left: 40px;
}
div#publications_container > div.year > div.title-and-minimize-flex {
  display: flex;
  color: var(--GREY3);
  margin-bottom: calc(var(--GAP0) / 2);
}
div#publications_container > div.year > div.title-and-minimize-flex > span.year-title {
  letter-spacing: 1px;
  margin: auto 0;
  font-family: OpenSansLight;
  font-size: 25px;
  line-height: 25px;
}
div#publications_container > div.year > div.title-and-minimize-flex > img {
  height: 25px;
  margin: auto 0 auto auto;
}
div#publications_container > div.year > div.title-and-minimize-flex > div.minimize {
  border-width: 1px;
  border-color: var(--GREY3);
  border-style: solid;
  border-radius: 2px;
  color: var(--GREY6);
  font-size: 14px;
  height: 32px;
  margin: auto 0 auto auto;
  text-align: center;
  transition: box-shadow 200ms;
  width: 32px;
}
div#publications_container > div.year > div.title-and-minimize-flex > div.minimize:hover {
  cursor: pointer;
  box-shadow: 0px 2px 3px 0px var(--GREY2);
}
div#publications_container > div.year > div.publication {
  border-width: 1px;
  border-color: var(--GREY2);
  border-style: solid;
  border-radius: 2px;
  background-color: var(--GREY02);
  display: flex;
  margin: 0 0 var(--GAP0) 0;
  padding: calc(var(--GAP0) / 2);
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
div#publications_container > div.year > div.publication:hover {
  transform: translateY(-4px);
  box-shadow: 0px 5px 6px 0px var(--GREY4);
}
div#publications_container > div.year > div.publication > img.thumbnail {
  width: 100px;
  border: 1px solid var(--GREY3);
  margin: auto calc(var(--GAP0) / 2) auto 0;
}
div#publications_container > div.year > div.publication > div.pdf-div {
  border-width: 1px;
  border-color: var(--GREY3);
  border-style: solid;
  border-radius: 2px;
  background-color: var(--GREY01);
  color: var(--GREY6);
  font-family: OpenSansLight;
  margin-top: auto;
  margin-right: 0;
  margin-bottom: auto;
  margin-left: auto;
  padding: 10px;
  text-transform: uppercase;
}
div#publications_container > div.year > div.publication > div.content-div > div {
  margin-top: 5px;
  margin-right: calc(var(--GAP0) / 2);
  margin-bottom: 5px;
}
div#publications_container > div.year > div.publication > div.content-div > span {
  color: var(--GREY6);
  font-size: 14px;
}
div#publications_container > div.year > div.publication > div.content-div > div.publication-title {
  font-family: OpenSansSemiBold;
  margin-bottom: 10px;
}
div#publications_container > div.year > div.publication > div.content-div > div.mag {
  font-family: OpenSansItalic;
  font-size: 16px;
}

div#home.gallery-page div#images {
  display: grid;
  --tagWidth: calc((var(--w) - (8px * 3)) / 4);
  margin-bottom: auto;
  grid-template-columns: repeat(4, var(--tagWidth));
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 8px;
  grid-column-gap: 8px;
}
div#home.gallery-page div#images img {
  margin: auto;
}
div#home.gallery-page div#images img:nth-of-type(4n+4) {
  margin: 0 0px auto auto;
}
div#home.gallery-page div#images img:nth-of-type(4n+1) {
  margin: 0 auto auto 0;
}
@media screen and (min-width: 1023px) {
  div#home.gallery-page div#images img {
    width: var(--tagWidth);
  }
}
div#home.gallery-page div#images[class=theater] {
  filter: brightness(0.2) blur(1px) sepia(1);
}
div#home.gallery-page div#images:not([class=theater]) > div[id^=row] > img {
  margin-top: 0;
  margin-bottom: 3px;
  cursor: pointer;
  transition: opacity 100ms;
}
div#home.gallery-page div#images:not([class=theater]) > div[id^=row] > img:hover {
  opacity: 0.5;
}
div#home.gallery-page div#img_viewer {
  display: flex;
  height: var(--localHeight);
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(var(--localHeight) / -2);
  opacity: 0;
  position: fixed;
  top: 50%;
  transition: opacity 200ms;
  width: var(--w);
  z-index: -1;
}
@media screen and (min-width: 1340px) {
  div#home.gallery-page div#img_viewer {
    --localHeight: 600px;
  }
}
@media screen and (max-width: 1340px) {
  div#home.gallery-page div#img_viewer {
    --localHeight: 500px;
  }
}
div#home.gallery-page div#img_viewer.on {
  opacity: 1;
  z-index: 5;
}
div#home.gallery-page div#img_viewer > img {
  max-height: var(--localHeight);
}
div#home.gallery-page div#img_viewer > div#caption {
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
  text-align: center;
  position: fixed;
  font-size: 24px;
  color: white;
  top: 52%;
  margin-top: calc(var(--localHeight) / 2);
  width: inherit;
}
div#home.gallery-page div#img_viewer > div#right_chevron, div#home.gallery-page div#img_viewer > div#left_chevron {
  cursor: pointer;
  filter: invert(1) drop-shadow(2px 4px 6px black);
  margin: auto;
  opacity: 0.8;
  transition: opacity 100ms, transform 50ms;
  width: 44px;
  z-index: 5;
}
div#home.gallery-page div#img_viewer > div#right_chevron:hover, div#home.gallery-page div#img_viewer > div#left_chevron:hover {
  opacity: 1;
}
div#home.gallery-page div#img_viewer > div#right_chevron.right, div#home.gallery-page div#img_viewer > div#left_chevron.right {
  margin: auto;
}
div#home.gallery-page div#img_viewer > div#right_chevron.right:active > svg, div#home.gallery-page div#img_viewer > div#left_chevron.right:active > svg {
  transform: translateX(4px);
}
div#home.gallery-page div#img_viewer > div#right_chevron.left:active > svg, div#home.gallery-page div#img_viewer > div#left_chevron.left:active > svg {
  transform: rotate(180deg) translateX(4px);
}
div#home.gallery-page div#img_viewer > div#right_chevron.left > svg, div#home.gallery-page div#img_viewer > div#left_chevron.left > svg {
  transform: rotate(180deg);
}
div#home.gallery-page div#img_viewer_close {
  position: fixed;
  top: var(--gap);
  right: var(--gap);
  opacity: 0;
  transition: opacity 100ms;
}
div#home.gallery-page div#img_viewer_close.on {
  opacity: 0.8;
  cursor: pointer;
}
div#home.gallery-page div#img_viewer_close.on:hover {
  opacity: 1;
}
div#home.gallery-page div#img_viewer_close > svg {
  display: block;
  --dim: 32px;
  width: var(--dim);
  height: var(--dim);
}
div#home.gallery-page div#img_viewer_close > svg > path {
  fill: none;
  stroke-width: 4px;
  stroke: white;
}
div#home.gallery-page div#img_viewer_close > svg > path.upright {
  d: path("m 31 1 l -30 30");
}
div#home.gallery-page div#img_viewer_close > svg > path.downleft {
  d: path("m 1 1 l 30 30");
}

div#home {
  text-align: left;
}
div#home > div#neuroanatomy_intro {
  margin-bottom: calc(var(--gap));
  width: calc(var(--w) * 0.6);
}
div#home > div#neuroanatomy_intro > p:first-of-type {
  font-family: OpenSansBold;
}
div#home > div.brain {
  margin-bottom: calc(var(--gap) * 2);
}
div#home > div.brain > p.text {
  width: calc(var(--w) * 0.6);
}
div#home > div.brain > div.sketchfab-embed-wrapper > iframe {
  width: var(--w);
  height: 600px;
  border-radius: 15px;
}

iframe#contact_iframe {
  width: var(--w);
  height: 600px;
  border-radius: 15px;
}

div#contact_grid {
  margin-bottom: calc(var(--gap) * 2);
  --rowLength: 3;
  --itemWidth: calc((var(--w) - calc(var(--rowLength) - 1) * var(--GAP1)) / var(--rowLength));
  display: grid;
  grid-template-columns: repeat(var(--rowLength), var(--itemWidth));
  grid-column-gap: var(--GAP1);
  grid-row-gap: var(--GAP1);
}
div#contact_grid > div > * {
  text-align: center;
}
div#contact_grid > div {
  display: grid;
  grid-template-rows: 80px 40px auto;
  grid-template-columns: repeat(2, calc(var(--itemWidth) / 2));
}
div#contact_grid > div > h1 {
  grid-row: 1/1;
  grid-column: 1/1;
}
div#contact_grid > div > img {
  grid-row: 1/1;
  grid-column: 2/2;
  width: calc(32px * 1.5);
  margin: 0 auto;
}
div#contact_grid > div > p.subtitle {
  color: var(--GREY5);
  grid-row: 2/2;
  grid-column: span 2;
}
div#contact_grid > div > a {
  grid-row: 3/3;
  font-size: 20px;
  line-height: 32px;
  grid-column: span 2;
}

/*# sourceMappingURL=index.css.map */
