$main_max_width: 1200px
@font-face
    font-family: "OpenSans"
    src: url("common/fonts/OpenSans-Regular.ttf")

body
    font-family: "OpenSans", sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: #333

main
    margin: 40px auto
    max-width: $main_max_width
    text-align: center
    @import 'main/navbar/navbar'
    @import 'main/home/home'

    home
        top: 80px
        position: relative














