@font-face {
  font-family: "OpenSans";
  src: url("common/fonts/OpenSans-Regular.ttf");
}
body {
  font-family: "OpenSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

main {
  margin: 40px auto;
  max-width: 1200px;
  text-align: center;
}
main navbar {
  font-size: 20px;
  max-width: fit-content;
  margin: auto;
  display: -webkit-box;
}
main navbar > div, main navbar img {
  cursor: pointer;
}
main navbar > div, main navbar img.home {
  margin-top: 0;
  margin-right: 40px;
  margin-left: 0;
  margin-bottom: 0;
}
main navbar > img.home {
  width: 80px;
}
main navbar > img.tau {
  height: 80px;
}
main navbar > div {
  padding: 30px 0 0 0;
  transition: color 200ms ease-out, border-bottom-color 200ms ease-out;
  display: block;
  border-bottom-color: rgba(218, 165, 32, 0);
}
main navbar > div:hover {
  color: #888;
}
main navbar > div.selected {
  margin-bottom: 7px;
  border-bottom-color: goldenrod;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
main carousel {
  position: relative;
  display: grid;
  grid-template-rows: 40% 20% 40%;
  grid-template-columns: 70px auto 70px;
  height: 340px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("main/home/carousel/images/cortical_fingerprinting.jpg");
}
main carousel headline {
  grid-row: 1/1;
  grid-column: span 3;
  margin-top: 10px;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 700;
}
main carousel button {
  width: 70px;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  color: white;
  border-width: 0;
  cursor: pointer;
  height: 70px;
  text-shadow: 5px 5px 5px black;
  font-family: monospace;
  font-size: 35px;
  align-self: center;
  grid-row: 2/2;
  transition: opacity 150ms;
}
main carousel button.left {
  grid-column: 1/1;
}
main carousel button.right {
  grid-column: 3/3;
}
main home {
  top: 80px;
  position: relative;
}

article {
  width: 100%;
  height: 500px;
  padding-top: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
article div.title {
  font-size: 30px;
  text-align: left;
  padding-top: 40px;
  margin-left: 60px;
}
article div.text {
  width: 50%;
  text-align: left;
  margin-left: 60px;
  margin-top: 40px;
}

div#people_container {
  display: flex;
  flex-wrap: wrap;
}

div#person_viewer {
  height: 0px;
  transition: height 500ms, padding-top 1000ms, padding-bottom 1000ms, opacity 500ms;
  margin: auto 20px;
  text-align: left;
  opacity: 0;
  padding: 0;
}
div#person_viewer.open {
  opacity: 1;
  height: 500px;
  border: 1px solid black;
  padding: 40px 50px;
}
div#person_viewer div.name {
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 10px;
}
div#person_viewer img {
  margin-bottom: 20px;
}
div#person_viewer div.cv {
  color: #333;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 23px;
}
div#person_viewer div.email {
  color: #111;
}

person {
  position: relative;
  margin: auto 20px 60px 20px;
  height: 240px;
  width: 260px;
  cursor: pointer;
  background-position: top;
  background-repeat: no-repeat;
}
person div {
  text-transform: capitalize;
}
person div.name {
  color: black;
  font-size: large;
}
person div.role {
  color: #333333;
}

div#papers_container {
  text-align: left;
}

paper {
  display: block;
  position: relative;
  margin: 0 0 60px 0;
}
