/* Error: Mixin doesn't accept a content block.
 *    ,
 * 59 | /             @include hoverMixin(border, true)
 * 60 | \                 cursor: pointer
 *    '
 *   main/publications/publications.sass 59:13  @import
 *   index.sass 79:9                            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Mixin doesn't accept a content block.\a    \2577 \a 59 \2502  \250c              @include hoverMixin(border, true)\a 60 \2502  \2514                  cursor: pointer\a    \2575 \a   main/publications/publications.sass 59:13  @import\a   index.sass 79:9                            root stylesheet";
}
