////////////////////
// BREAKPOINTS:     1400, 1140
// DEPENDENCIES:
////////////////////
div#papers_container
    text-align: left
    @media screen and (min-width: 1400px)
        width: 1200px
    @media screen and (min-width: 1140px) and (max-width: 1400px)
        width: 1040px
    margin: auto


@mixin hoverMixin($prop, $withText:false)

    &:hover
        @if ($prop == color)
            color: #888
        @else
            @include borderMixin(rgb(153, 153, 153), null)
            @if ($withText == true)
                color: #444

    cursor: pointer
    $easeOut: 200ms ease-out
    @if ($withText == true)
        transition: #{$prop} $easeOut, color $easeOut
    @else
        transition: #{$prop} $easeOut

year
    div.title-and-separator-container
        display: flex
        color: #ccc

        span.year-span
            letter-spacing: 1px
            margin:
                bottom: 10px
            font:
                family: OpenSansLight
                size: 25px

        div.minimize
            margin: auto 0 auto auto
            text-align: center
            font-size: 17px
            color: #888
            @include borderMixin(#ccc)
            width: 40px
            height: 40px
            @include hoverMixin(border, true)

    div.papers
        border-left: 1px solid #ddd
        padding:
            left: 40px
        margin:
            left: 30px

paper
    position: relative
    margin: 0 0 60px 0
    background-color: $GREY02
    padding: 30px
    display: flex
    @include borderMixin(#ddd)

    img.thumbnail
        margin: auto 30px auto 0
        border: 1px solid #ccc
        @include hoverMixin(border)


    div.pdf-div
        @include hoverMixin(border, true)
        margin:
            top: auto
            right: 0
            bottom: auto
            left: auto
        padding: 10px
        @include borderMixin(#ccc)
        font:
            family: OpenSansLight
        color: #888
        background-color: rgb(250, 250, 250)

    div.content-div
        div
            margin:
                top: 5px
                right: 30px
                bottom: 5px

        span
            color: #888
            font-size: 14px

        div.paper-title
            margin-bottom: 10px
            @include hoverMixin(color)
            font:
                family: OpenSansSemiBold


        div.mag
            font-size: 16px
            color: #444
            @include hoverMixin(color)
            font:
                family: OpenSansItalic





