@mixin hoverMixin($prop, $withText:false)

	&:hover
		@if ($prop == color)
			color: var(--GREY6)
		@else
			@include borderMixin(var(--GREY5), null)
			@if ($withText == true)
				color: var(--GREY7)

	cursor: pointer
	$easeOut: 200ms ease-out
	@if ($withText == true)
		transition: #{$prop} $easeOut, color $easeOut
	@else
		transition: #{$prop} $easeOut

div#publications_container
	& > div.year
		// **  All Resolutions

		& > div.title-flex
			// *  DEP: gallery.sass div#images_container > div.year > div.title
			display: flex
			color: var(--GREY5)
			margin:
				// 30px
				bottom: var(--small_gap)

			& > span.year-title
				letter-spacing: 1px
				margin: auto 0

				font-family: OpenSansLight
				font-size: 26px
				line-height: 26px


		& > div.publication
			@include borderMixin(var(--GREY2))
			background-color: var(--GREY02)
			border-radius: 15px
			display: flex
			padding: var(--small_gap)
			position: relative
			cursor: pointer
			transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out

			&:hover
				transform: translateY(-4px)
				box-shadow: 0px 5px 6px 0px var(--GREY4)

			& > img.thumbnail
				width: 100px
				height: 100px
				border: 1px solid var(--GREY3)
				// 30px
				margin: auto var(--small_gap) auto 0


			& > div.pdf-div

				@include borderMixin(var(--GREY3))
				background-color: var(--GREY01)
				color: var(--GREY6)
				font:
					family: OpenSansLight
				margin:
					top: auto
					right: 0
					bottom: auto
					left: auto
				padding: 10px
				text-transform: uppercase

			& > div.content-div
				& > div
					margin:
						top: 5px
						// 30px
						right: var(--small_gap)
						bottom: 5px

				& > span
					color: var(--GREY6)
					font-size: 14px

				& > div.publication-title
					font-family: OpenSansSemiBold
					margin-bottom: 10px


				& > div.mag
					font:
						family: OpenSansItalic
						size: 16px


		// **  min-width($BP3)
		@include min-width($BP3)
			border-left: 1px solid var(--GREY2)
			padding-left: 39px

			& > div.publication
				margin: 0 0 var(--gap) 0

			@include min-width($BP1)
				& > div.publication > div.content-div > div.publication-title
					font-size: 18px

			@include max-width($BP1)
				& > div.publication:last-of-type
					margin-bottom: 60px
				& > div.title-flex > span.year-title
					font-size: 24px


		// **  max-width($BP3)
		@include max-width($BP3)
			margin-bottom: 40px
			& > div.publication
				margin: 0 0 20px 0

				& > img.thumbnail, & > div.pdf-div
					display: none










