////////////////////
// BREAKPOINTS:     1400, 1140
// DEPENDENCIES:
////////////////////
div#papers_container
    text-align: left
    @media screen and (min-width: 1400px)
        width: 1200px
    @media screen and (min-width: 1140px) and (max-width: 1400px)
        width: 1040px
    margin: auto

paper
    color: #111111
    cursor: pointer
    //display: block
    position: relative
    margin: 0 0 60px 0
    background-color: rgb(245, 245, 245)
    padding: 30px
    display: flex

    img.thumbnail
        margin: auto 30px auto 0
        border: 1px solid rgba(0, 0, 0, 0.2)

    div
        margin:
            bottom: 5px
            top: 5px

    div.title

        text-decoration:
            color: goldenrod
            style: solid
            line: underline
        font:
            family: OpenSansSemiBold

    span.creds
        color: #777

    span.year
        color: #777

    div.mag
        margin:
            top: 5px
        font:
            family: OpenSansItalic





