images
    @include flexContainerMixin(img, true)
    position: absolute

    div.img-container
        margin:
            top: -3px
            bottom: -3px
            right: -1px

        &:hover
            //div.tooltip
                opacity: 1

            img
                opacity: 0.5

        //div.tooltip
            background-color: rgba(255, 255, 255, 0.3)
            z-index: 1
            color: #666
            transition: opacity 500ms
            opacity: 0
            width: 298px
            margin-top: 16px
            position: absolute
            @include fourWayTextShadow(1px, 1px, 1px, var(--GREY00))
            font:
                family: OpenSansSemiBold

        img
            cursor: pointer
            transition: opacity 100ms

div#img_viewer
    background:
        repeat: no-repeat
        size: contain
    border: 2px solid black
    display: block
    height: 600px
    margin: 0 auto 0 auto
    position: relative
    width: 800px
    z-index: 5
