@mixin background-image($url)
  background-image: url($url)
  -moz-background-image: url($url)
  -o-background-image: url($url)
  -webkit-background-image: url($url)


@mixin background-size($size)
  background-size: $size
  -moz-background-size: $size
  -o-background-size: $size
  -webkit-background-size: $size

@mixin fit-content($prop)
  #{$prop}: fit-content
  #{$prop}: -moz-fit-content
