@mixin font_smoothing($val)
  @supports (-webkit-font-smoothing: $val)
    -webkit-font-smoothing: $val

@mixin background_image($url)
  //@each $pre in (null, moz, o, webkit)
    $prop: -#{$pre}-background-image
    @supports (#{$prop}: $url)
      #{$prop}: $url

  @supports (-webkit-background-image: url($url))
    -webkit-background-image: url($url)

  @supports (-moz-background-image: url($url))
    -moz-background-image: url($url)

  @supports not (-moz-background-image: url($url))
    background-image: url($url)


@mixin fit_content($prop)
  @supports not ($prop: -moz-fit-content)
    @supports not ($prop: -webkit-fit-content)
      #{$prop}: fit-content

    @supports ($prop: -webkit-fit-content)
      #{$prop}: -webkit-fit-content

  @supports ($prop: -moz-fit-content)
    #{$prop}: -moz-fit-content

@mixin fill_available($prop)
  @supports ($prop: -moz-available)
    #{$prop}: -moz-available

  @supports not ($prop: -moz-available)
    #{$prop}: -webkit-fill-available

