$BP0: 1535px

// needs to be higher than --W0
$BP1: 1340px

// needs to be higher than --W1
$BP2: 1023px
\:root
	// [BP1]W0[BP0]
	--W0: 1200px
	// [BP2]W1[BP1]
	--W1: 984px
	--GAP0: 60px
	--GAP1: 40px
	--GOOGLEBLUE: #3b82f0

	// #fff
	--GREY00: rgb(255, 255, 255)

	// #fafafa
	--GREY01: rgb(250, 250, 250)

	// #f2f2f2
	--GREY02: rgb(242, 242, 242)

	--GREY03: rgb(223, 223, 223)
	// #ddd
	--GREY2: rgb(221, 221, 221)

	// #ccc
	--GREY3: rgb(204, 204, 204)

	// #bbb
	--GREY4: rgb(187, 187, 187)

	// #999
	--GREY5: rgb(153, 153, 153)

	// #888, text hover
	--GREY6: rgb(136, 136, 136)
	// #444
	--GREY7: rgb(68, 68, 68)

	// #282828 (body.theater)
	--GREY8: rgb(40, 40, 40)

	--TRANS: rgba(0, 0, 0, 0)


// APPLE.COM BREAKPOINTS
//xlarge	1440
//large	1068
//mobile	767
//small	735

// MORKI LAPTOP SAFARI DIMS
// 1680x833
