@mixin fourWayTextShadow($x, $y, $blur, $color)
    text-shadow: $x $y $blur $color, $x * -1 $y $blur $color, $x $y * -1 $blur $color, $x * -1 $y * -1 $blur $color


@mixin borderMixin($color, $radius:2px)
    border:
        width: 1px
        color: $color
        style: solid
        @if ($radius)
            radius: $radius

@mixin width-between($low,$high)
    @media screen and (min-width: $low) and (max-width: $high)
        @content

@mixin min-width($bp)
    @media screen and (min-width: $bp)
        @content

@mixin max-width($bp)
    @media screen and (max-width: $bp)
        @content


@mixin pFontSize($alsoLineHeight:false)
    // *  DEP: index.sass div#footer > #contact > .address > a line height
    /// 1340
    @include min-width($BP1)
        font-size: 20px
        @if ($alsoLineHeight == true)
            line-height: 32px
    @include width-between($BP3, $BP1)
        font-size: 18px
        @if ($alsoLineHeight == true)
            line-height: 28px

    @include max-width($BP3)
        font-size: 16px
        @if ($alsoLineHeight == true)
            line-height: 24px


// **  --gap
@mixin setLocalGapVar()

    /// 1340 <= screen
    @include min-width($BP1)
        // 60px
        --gap: var(--GAP0)
        // 120px
        --big_gap: var(--BIG_GAP0)
        // 30px
        --small_gap: var(--SMALL_GAP0)

    /// 1025 <= screen <= 1340
    @include width-between($BP2, $BP1)
        // 40px
        --gap: var(--GAP1)
        // 80px
        --big_gap: var(--BIG_GAP1)
        // 20px
        --small_gap: var(--SMALL_GAP1)

    /// screen <= 1025
    @include max-width($BP2)
        // ???
        --gap: var(--GAP2)
        --big_gap: var(--BIG_GAP2)
        --small_gap: var(--SMALL_GAP2)

// **  --w
@mixin setLocalWVar()
    /// 1340 <= screen
    @include min-width($BP1)
        // 1200px
        --w: var(--W0)
    //#window_stats:after
        content: "--w: var(--W0): 1200px \A [BP1] screen: #{$BP1} screen"

    /// 1025 <= screen <= 1340
    @include width-between($BP2, $BP1)
        // 984px
        --w: var(--W1)
    //#window_stats:after
        content: "--w: var(--W1): 984px \A [BP2] screen [BP1]: #{$BP2} screen #{$BP1}"

    /// 760 <= screen <= 1025
    @include width-between($BP3, $BP2)
        // 748px
        --w: var(--W2)
    //#window_stats:after
        content: "--w: var(--W2): 748px \A [BP3] screen [BP2]: #{$BP3} screen #{$BP2}"


    /// screen <= 760
    @include max-width($BP3)
        // 90%
        --w: var(--W3)
        #window_stats:after
            content: "--w: var(--W3): 90% \A screen [BP3]: screen #{$BP3}"

@mixin iframeMixin()
    width: var(--w)
    height: 600px
    border-radius: 15px
// **  --tagWidth
@mixin setLocalTagWidthVar($tight:false, $columns)
    // *  DEP:  people.sass     #person_expando width   (only desktop)
    //                          person > img width (inherit)
    @if ($tight == true)
        // [min-width: $BP1]:  (1200 - 8*3) / 4  =  (1200 - 24) / 4  = 1176 / 4  =  294px
        // [max-width: $BP1]:  (984 - 8*3) / 4  =  (984 - 24) / 4  = 960 / 4  =  240px
        // [max-width: $BP2]:  (748 - 8*3) / 4  =  (748 - 24) / 4  = 724 / 4  =  181px
        // [max-width: $BP3]:  (90% - 4px*1) / 2  =  (90% - 4px) / 2
        --tagWidth: calc((var(--w) - (var(--_tightGap) * (#{$columns} - 1))) / #{$columns})
    @else
        // [min-width: $BP1]:  (1200 - 60*3) / 4  =  (1200 - 180) / 4  = 1020 / 4  =  255px
        // [max-width: $BP1]:  (984 - 40*3) / 4  =  (984 - 120) / 4  = 864 / 4  =  216px
        --tagWidth: calc((var(--w) - (var(--gap) * (#{$columns} - 1))) / #{$columns})

@mixin gridContainerMixin($childTag, $tight:false)
    // *  DEP: gallery.ts
    @include min-width($BP3)
        --columns: 4
        --_tightGap: 8px
    @include max-width($BP3)
        --columns: 2
        --_tightGap: 4px

    @include setLocalTagWidthVar($tight, var(--columns))
    display: grid


    // **  margin
    margin:
        @if ($tight == true)
            bottom: auto
        @else
            bottom: var(--gap)

    // **  grid
    grid-template:
        columns: repeat(var(--columns), 1fr)
        rows: repeat(2, auto)

    @if ($tight == true)
        grid:
            row-gap: var(--_tightGap)
            column-gap: var(--_tightGap)
    @else
        grid-row-gap: var(--gap)
        @include min-width($BP3)
            grid-column-gap: var(--gap)
        @include max-width($BP3)
            grid-column-gap: 5%

    #{$childTag}
        //margin: auto
        width: 100%
        @include min-width($BP3)
            // TODO: is this needed at all?
            //width: var(--tagWidth)
            // every 4th == last in row
            &:nth-of-type(4n+4)
                margin: 0 0px auto auto

            // first in row
            &:nth-of-type(4n+1)
                margin: 0 auto auto 0









