div#home.contact-page
	display: flex
	height: 660px
	$_contactPageMarginBottom: 80px
	margin-bottom: $_contactPageMarginBottom

	& > iframe#contact_map
		border-radius: 15px
		width: calc(var(--w) * 0.7)


	& > div#contact_flex
		margin-left: $_contactPageMarginBottom
		display: flex
		flex-direction: column
		// **  min-width($BP4)
		@include min-width($BP4)


		// **  max-width($BP4)
		@include max-width($BP4)

		// **  All Resolutions
		& > div
			width: inherit

			& > h1
				margin-bottom: unset


			& > p.subtitle
				color: var(--GREY5)

			& > a
				@include pFontSize(true)


			&.visit > a
				text-transform: capitalize

			&.call
				margin: auto 0

			&.email
				margin-top: auto




