div#home.contact-page
	display: flex
	$_contactPageMarginBottom: 80px
	// **  min-width($BP3)
	@include min-width($BP3)
		height: 660px
		margin-bottom: $_contactPageMarginBottom
	// **  max-width($BP3)
	@include max-width($BP3)
		margin-bottom: calc(var(--MOBILE_NAVBAR_HEIGHT) * 2)

	& > iframe#contact_map
		border-radius: 15px
		width: calc(var(--w) * 0.7)


	& > div#contact_flex
		display: flex
		flex-direction: column
		// **  min-width($BP3)
		@include min-width($BP3)
			margin-left: $_contactPageMarginBottom


		// **  max-width($BP3)
		@include max-width($BP3)
			margin-left: 60px

		// **  All Resolutions
		& > div
			width: inherit

			& > h2
				margin-block-end: 12px
				margin-block-start: 0
			//margin-bottom: unset
			//margin-block-start: 0


			& > p.subtitle
				color: var(--GREY5)
				margin-bottom: 0

			& > a
				@include pFontSize(true)

			&:not(:last-of-type)
				margin-bottom: 40px

			&.visit
				margin-block-start: 0

				& > a
					text-transform: capitalize

				& > h2
			//margin-block-end: 12px
			//margin-block-start: 0

			&.call
			//margin: auto 0

			&.email
			//margin-top: auto




