div#people_container {
  display: flex;
}

person {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
person div.name {
  font-size: 30px;
  text-align: left;
  padding-top: 40px;
  margin-left: 60px;
}
person div.role {
  width: 50%;
  text-align: left;
  margin-left: 60px;
  margin-top: 40px;
}
