div#people_container {
  display: flex;
  flex-wrap: wrap;
}

div#person_viewer {
  height: 0px;
  transition: height 1000ms, padding-top 1000ms, padding-bottom 1000ms, opacity 2000ms;
  margin: auto 20px;
  text-align: left;
  opacity: 0;
  padding: 0;
  position: relative;
}
div#person_viewer.open {
  margin-bottom: 40px;
  opacity: 1;
  height: 500px;
  border-left: 1px solid goldenrod;
  border-bottom: 1px solid goldenrod;
  padding: 40px 50px;
}
div#person_viewer.open div.minimize:hover {
  cursor: pointer;
}
div#person_viewer div.name {
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 10px;
}
div#person_viewer img {
  margin-bottom: 20px;
}
div#person_viewer div.cv {
  color: #333;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 23px;
}
div#person_viewer div.email {
  color: #111;
}
div#person_viewer div.minimize {
  position: absolute;
  top: 0;
  right: 50px;
  text-align: center;
  font-size: 16.6666666667px;
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
}
div#person_viewer div.minimize:hover {
  cursor: default;
}

person {
  position: relative;
  margin: auto 20px 60px 20px;
  height: 240px;
  width: 260px;
  cursor: pointer;
  background-position: top;
  background-repeat: no-repeat;
}
person div {
  text-transform: capitalize;
}
person div.name {
  color: black;
  font-size: large;
}
person div.role {
  color: #333333;
}
