
div#home.people-page


	// ***  grid
	& > div.grid
		@include gridContainerMixin("div.person")
		text-align: center

		& > div.person
			cursor: pointer


			height: 100%
			transition: opacity 500ms

			&.unfocused
				opacity: 0.4
				filter: blur(2px) contrast(0.8)

			& > img
				// inherits from div.person, whose width is 100% in mixins.sass
				width: inherit
				border-radius: 15px
				object-fit: cover
				@include min-width($BP4)
					height: calc(var(--tagWidth) / (4 / 3))

				@include max-width($BP4)
					// arbitrary, looks good
					height: 160px


			& > div
				text-transform: capitalize

			& > div.name
				font:
					size: large
					family: OpenSansSemiBold


			& > div.role
				color: var(--GREY6)
				font:
					family: OpenSansItalic

	// ***  expando
	div#person_expando
		@include borderMixin(var(--GREY02))

		// [min-width: $BP1]:  30px
		// [max-width: $BP1]:  20px
		--expandoPadding: 30px
		$colorTrans: color 300ms cubic-bezier(1, 0, 1, 0)
		$svgDim: 25
		//$svgDim: 15
		@include max-width($BP1)
			font-size: 15px
		@include max-width($BP4)
			border-radius: 15px

		// **  All Resolutions
		background-color: white
		box-shadow: 0px 1px 2px white
		color: white
		display: flex
		flex-wrap: wrap
		height: 0

		// [min-width: $BP1]:  -50px
		// [max-width: $BP1]:  -33.3333px
		margin-top: -50px

		overflow: hidden
		padding: var(--expandoPadding)
		text-align: left

		transition: height 50ms 0s, width 200ms cubic-bezier(0.5, 0, 1, 0), $colorTrans, box-shadow 1500ms, border 500ms cubic-bezier(0, 0, 1, 0)

		// [min-width: $BP1]:  255 - 30*2  =  195px
		// [max-width: $BP1]:  216 - 20*2  =  176px
		width: calc(var(--tagWidth) - 2 * var(--expandoPadding))
		@include min-width($BP4)
			--cvRightGap: 25px
		@include max-width($BP4)
			--cvRightGap: 15px

		& > div.cv
			width: calc(100% - #{$svgDim}px - var(--cvRightGap))
			margin-block-start: -5px

			& > p
				font-size: unset
				line-height: unset

		& > div.email
			width: 100%

		& > svg#svg_root
			// *  DEP: people.ts Expando constructor() svgX attr viewBox

			cursor: pointer
			margin-bottom: auto
			margin-left: auto
			width: $svgDim + px
			padding-left: var(--cvRightGap)
			padding-bottom: var(--cvRightGap)


			& > path
				fill: none
				stroke-width: 1px
				stroke: var(--GREY6)


				&.upright
					d: path("m #{$svgDim - 1} 1 l -#{$svgDim - 2} #{$svgDim - 2}")

				&.downleft
					d: path("m 1 1 l #{$svgDim - 2} #{$svgDim - 2}")


		//& > a
			color: white
			transition: $colorTrans

		&.collapsed
			padding: 0
			opacity: 0
			z-index: -1

		&.expanded
			z-index: 5
			opacity: 1
			@include min-width($BP4)
				box-shadow: 0px 2px 10px var(--GREY3)
				//height: 300px
			@include max-width($BP4)
				// *  DEP: gallery.sass div#img_viewer
				box-shadow: 0px 2px 10px var(--GREY8)
				//display: flex
				//flex-direction: column
				position: fixed
				top: var(--MOBILE_NAVBAR_HEIGHT)
				width: 75%

				height: auto
				margin: auto


			& > div.email
				& > a
					color: var(--GOOGLEBLUE)

				margin:
					top: 10px

			& > div.close
				opacity: 1


			border-color: white

			color: var(--GREY7)
			height: 300px
			//height: auto
			//@include expandoHeightMixin()

			// [min-width: $BP1]:  255*2  =  510px
			// [max-width: $BP1]:  216*2  =  432px
			width: calc(var(--tagWidth) * 2)





