div#people_container
    display: flex

person
    position: relative
    margin-right: 20px
    height: 260px
    width: 260px
    //padding: 100px
    background:
        //size: cover
        position: top
        repeat: no-repeat


    div.name
        text-transform: capitalize
        font-size: x-large
        font-weight: bold
        color: white
        position: absolute
        bottom: 0
        text-shadow: 0 0 5px black
        width: 100%
        left: 0
        text-align: center

    div.role
        text-transform: capitalize
        font-size: x-large
        font-weight: bold
        color: white
        position: absolute
        bottom: 0
        text-shadow: 0 0 5px black
        width: 100%
        left: 0
        text-align: center


