$imgHeight: 185px

div#home
	div.separator
		background:
			image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0) 20%)
		height: 1px
		margin:
			top: 0
			right: auto
			bottom: 15px
			left: 0
		position: relative
		width: 100%

	div.title
		@include titleMixin
		text-align: left


	div#team_grid
		@include flexContainerMixin(person)

	div#alumni_grid
		@include flexContainerMixin(person)


	person
		background:
			position: top
			repeat: no-repeat
		//box-shadow: 0px 2px 10px white
		cursor: pointer
		height: auto
		overflow: hidden
		position: relative
		transition: opacity 500ms

		&.unfocused
			opacity: 0.4
			filter: blur(2px) contrast(0.8)

		img
			// inherits from person, whose width is var(--tagWidth) in mixins.sass
			width: inherit


		div.name
			font:
				size: large
				family: OpenSansSemiBold
			text-transform: capitalize

		div.role
			color: var(--GREY6)
			font:
				family: OpenSansItalic
			padding-bottom: 5px
			text-transform: capitalize


	div#person_expando
		// **  --gap, --w, --tagWidth vars from mixins.sass
		@include borderMixin(var(--GREY02))

		// [min-width: $BP1]:  30px
		// [max-width: $BP1]:  20px
		--expandoPadding: calc(var(--gap) / 2)
		$colorTrans: color 300ms cubic-bezier(1, 0, 1, 0)


		background-color: white
		box-shadow: 0px 1px 2px white
		color: white

		@include max-width($BP1)
			font-size: 15px
		height: 0

		// [min-width: $BP1]:  -50px
		// [max-width: $BP1]:  -33.3333px
		margin-top: calc(var(--gap) * -5 / 6)

		overflow: hidden
		padding: var(--expandoPadding)
		text-align: left

		transition: height 50ms, width 200ms cubic-bezier(0.5, 0, 1, 0), $colorTrans, box-shadow 1500ms, border 500ms cubic-bezier(0, 0, 1, 0)

		// [min-width: $BP1]:  255 - 30*2  =  195px
		// [max-width: $BP1]:  216 - 20*2  =  176px
		width: calc(var(--tagWidth) - 2 * var(--expandoPadding))


		svg#svg_root
			// [min-width: $BP1]:  60/4  =  15px
			// [max-width: $BP1]:  40/4  =  10px
			--dim: calc(var(--gap) / 4)
			cursor: pointer
			display: block
			margin-left: auto
			margin-right: calc(var(--dim) * -1)
			margin-top: calc(var(--dim) * -1)
			position: relative
			width: var(--dim)


			path
				fill: none
				stroke-width: 1px
				stroke: var(--GREY6)


				&.upright
					d: path("m 14 1 l -13 13")

				&.downleft
					d: path("m 1 1 l 13 13")


		a
			color: white
			transition: $colorTrans

		&.collapsed
			padding: 0

		&.expanded

			div.email
				a
					color: var(--GOOGLEBLUE)

				margin:
					// [min-width: $BP1]:  60/6  =  10px
					// [max-width: $BP1]:  40/6  =  6.66666px
					top: calc(var(--gap) / 6)

			div.close
				opacity: 1


			border-color: white
			box-shadow: 0px 2px 10px var(--GREY3)
			color: var(--GREY7)
			height: 270px
			// [min-width: $BP1]:  255*2  =  510px
			// [max-width: $BP1]:  216*2  =  432px
			width: calc(var(--tagWidth) * 2)





