div#people_container {
  display: flex;
  flex-wrap: wrap;
}

person {
  position: relative;
  margin: auto;
  height: 260px;
  width: 260px;
  background-position: top;
  background-repeat: no-repeat;
}
person div {
  text-transform: capitalize;
}
person div.name {
  color: black;
  font-size: large;
}
person div.role {
  color: #333333;
}
