navbar {
  font-size: 20px;
  max-width: fit-content;
  margin: auto;
  display: -webkit-box;
}
navbar > span, navbar img {
  cursor: pointer;
}
navbar > span, navbar img.home {
  margin-top: 0;
  margin-right: 40px;
  margin-left: 0;
  margin-bottom: 0;
}
navbar > img.home {
  width: 80px;
}
navbar > img.tau {
  height: 80px;
}
navbar > span {
  padding: 30px 0 0 0;
  transition: color 200ms ease-out;
  display: block;
}
navbar > span:hover {
  color: #888;
}
navbar > span.selected {
  box-shadow: 0px 2px 0px goldenrod;
  margin-bottom: 11px;
}
