navbar {
  font-size: 20px;
  max-width: fit-content;
  margin: auto;
  display: -webkit-box;
}
navbar > div, navbar img {
  cursor: pointer;
}
navbar > div, navbar img.home {
  margin-top: 0;
  margin-right: 40px;
  margin-left: 0;
  margin-bottom: 0;
}
navbar > img.home {
  width: 80px;
}
navbar > img.tau {
  height: 80px;
}
navbar > div {
  padding: 30px 0 0 0;
  transition: color 200ms ease-out, border-bottom-color 200ms ease-out;
  display: block;
  border-bottom-color: rgba(218, 165, 32, 0);
}
navbar > div:hover {
  color: #888;
}
navbar > div.selected {
  margin-bottom: 7px;
  border-bottom-color: goldenrod;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
