@mixin selectedMixin()
	color: black

//border-bottom:
	color: rgba(218, 165, 32, 1)
	width: 1px
	style: solid

div#navbar
	// MAYBE depends on index.sass #main --marginVertical (half)
	--fontSize: 20px

	@include min-width($BP1)
		--imgWidth: 80px
	@include max-width($BP1)
		--imgWidth: 75px

	// **  for FIXED navbar
	position: fixed
	width: inherit
	z-index: 5
	background-color: rgba(255, 255, 255, 0.92)
	transition: box-shadow 0.2s ease-in-out

	&.box-shadow
		box-shadow: inset 0 -1px 0 0 var(--GREY2)

	display: flex
	font-size: var(--fontSize)
	height: 70px

	margin: auto auto 0 auto

	& > div, & > img
		cursor: pointer

	& > div, & > img.home
		margin:
			//top: 0
			top: auto
			// 40px
			right: calc(var(--fontSize) * 2)
			left: 0
			bottom: auto

	// logo
	& > img.home
		width: 60px
		margin: auto auto auto 0

	// tau logo
	& > img.tau
		//height: var(--imgWidth)
		height: 40px
		margin: auto 0

	& > div:nth-last-child(2)
		margin-right: auto

	& > div

		// for onhover border
		//border-bottom:
			color: var(--TRANS)
			width: 1px
			style: solid
		display: block
		// for onhover border
		padding: 10px 0
		transition: color 200ms ease-in-out, border-bottom-color 200ms ease-in-out

		&:hover
			color: black
		//color: var(--GREY6)


		//border-bottom-color: var(--TRANS)
		&.selected
			color: black

		&.pale
			color: var(--GREY6)




