section#navbar_section
	--mobileHeight: 60px
	background-color: rgba(255, 255, 255, 0.92)
	@include max-width($BP4)
		height: var(--mobileHeight)
	position: fixed
	width: 100%
	z-index: 5
	$trans: 0.5s ease-in-out

	& > div#hamburger_menu
		@include min-width($BP4)
			display: none

		cursor: pointer
		position: absolute
		right: 0px
		transition: .5s ease-in-out
		// *  DEP: #hamburger_logo > img height
		width: calc(var(--mobileHeight) - 10px)

		&:focus
			border-width: 0px


		& > span#hamburger
			background: var(--GREY8)
			height: 2px
			position: absolute
			top: 30px
			transform-origin: center
			transition: transform $trans, box-shadow $trans
			width: 30px


			&:after, &:before
				background: var(--GREY8)
				content: ""
				height: 100%
				position: absolute
				transition: transform $trans, bottom $trans, top $trans
				width: 100%

			&:after
				bottom: -10px


			&:before
				top: -10px
				opacity: 1


		&[class~="open"]
			& > span#hamburger
				transform: rotate(45deg)
				box-shadow: 0 0 0 100vw white, 0 0 0 150vh white

				&:after, &:before
					transform: rotate(90deg)

				&:after
					bottom: 0

				&:before
					top: 0
					animation:
						name: FadeOut
						iteration-count: 1
						duration: 0s
						delay: 0.5s
						fill-mode: forwards

	& > div#hamburger_logo > img
		// *  DEP: #hamburger_menu width
		height: calc(var(--mobileHeight) - 10px)
		// half of 10px
		margin-top: 5px

	& > div#navigation_items
		opacity: 0
		position: absolute
		$_top: 60px
		top: var(--mobileHeight)
		text-align: center
		width: 100%
		height: calc(100vh - var(--mobileHeight))


		& > div
			font-size: 28px
			$_lineHeight: 24px
			font-family: OpenSansBold
			line-height: $_lineHeight
			color: var(--GREY8)
			// 60 + (24 + 44*2) * 6
			// 6 items
			// $top + ($lineHeight + 2x)*6  =  100vh
			padding: calc((100vh - var(--mobileHeight) - #{$_lineHeight} * 6) / 12) 0
			box-shadow: 0 -1px 0px var(--GREY3)

			&:last-of-type
				box-shadow: 0 -1px 0px var(--GREY3), 0 1px 0px var(--GREY3)


		&:not([class~="open"])
			transition: opacity 0.5s ease-out
			pointer-events: none

		&[class~="open"]
			display: flex
			flex-direction: column
			transition: opacity 0.5s ease-in-out 0.25s
			opacity: 1

	& > div#navbar
		@include max-width($BP4)
			display: none


		@include pFontSize()

		display: flex
		height: 70px
		margin: auto auto 0 auto
		transition: box-shadow 0.2s ease-in-out

		&.box-shadow
			box-shadow: inset 0 -1px 0 0 var(--GREY2)

		& > div, & > img
			cursor: pointer
			letter-spacing: 0.5px
			transition: color 200ms ease-in-out, border-bottom-color 200ms ease-in-out, letter-spacing 0.2s ease-in-out

		& > div, & > img.home
			margin:
				top: auto
				right: 40px
				left: 0
				bottom: auto

		// logo
		& > img.home
			margin: auto auto auto 0
			width: 60px

		// tau logo
		& > img.uni
			height: 40px
			margin: auto 0

		& > div:nth-last-child(2)
			margin-right: auto

		& > div
			&:hover, &.selected
				color: black
				letter-spacing: 1.25px


			&.pale
				color: var(--GREY6)
				letter-spacing: 0.5px


@keyframes FadeOut
	from
		opacity: 1
	to
		opacity: 0

@keyframes FadeIn
	from
		opacity: 0
	to
		opacity: 1

