div#home
	div.article
		//background:
		//	size: contain
		//	position: right
		//	repeat: no-repeat
		height: 440px

		@include setLocalGapVar()
		margin-bottom: var(--gap)
		text-align: left
		width: 100%


		div.title
			// @include fourWayTextShadow(1px, 1px, 3px, rgba(0, 0, 0, 0.1))
			//@include fourWayTextShadow(1px, 1px, 3px, rgba(255, 255, 255, 0.1))
			border-bottom: 1px solid rgba(34, 34, 34, 0)


			font-family: OpenSansBold

			font-size: xx-large
			margin:
				bottom: -10px

			padding:
				bottom: 10px


			transition: border-bottom-color 1s
			//transition: text-shadow 700ms ease-in-out
			width: fit-content


			&.highlighted
				border-bottom:
					width: 1px
					style: solid
					color: rgb(51, 51, 51)

		div.content-container
			display: flex
			flex-wrap: wrap
			//background:
				size: contain
				position: right
				repeat: no-repeat
			//height: 100%
			//width: 100%
			margin: var(--gap) 0 0 0

			div.content
				//--padding: 15px
				//background:
					image: linear-gradient(90deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.6))
					blend-mode: screen
				border-radius: 7px

				// 45px
				//margin: calc(var(--gap) - var(--padding)) auto auto 0

				// 60px
				//margin: var(--gap) auto auto 0
				//margin: 0 auto 0 0

				//padding: 0
				transition: color 700ms ease-in-out
				width: 50%

			div.background
				background:
					repeat: no-repeat
					size: contain
					position: top right
				//margin: 0 0 0 auto
				width: 50%


