@import "../../common/mixins"
article
    width: 100%
    height: 500px
    color: rgb(225, 225, 225)
    // TODO: padding top 0?
    padding:
        top: 0px
    background:
        size: cover
        position: center
        repeat: no-repeat
        blend-mode: multiply


    div.title
        @include four_way_text_shadow(1px, 1px, 3px, rgba(0, 0, 0, 0.1))
        font:
            family: OpenSansBold
            size: 35px
        text-align: left
        padding-top: 40px
        margin:
            left: 60px

    div.content
        width: 50%
        text-align: left
        margin:
            left: 60px
            top: 40px


