// TODO: pic-title-text like evernote mobile
div#home
	& > div.article
		// **  All Resolutions
		height: auto
		margin-bottom: var(--big_gap)
		text-align: left

		& > h1
			border-bottom: 1px solid var(--TRANS)
			margin-bottom: 18px
			padding-bottom: 2px

			transition: color 0.6s ease-in-out

			width: fit-content


			&.highlighted
				color: var(--GOOGLEBLUE)


		& > img
			// *  DEP: home.sass > .right-widget width

			object-fit: contain

			border-radius: 15px


			&.circle
				--dim: 440px
				border-radius: 50%
				object-fit: cover
				width: var(--dim)
				height: var(--dim)
				margin-left: calc(542px - var(--dim))


		// **  min-width($BP4)
		@include min-width($BP4)
			display: grid
			grid-column-gap: var(--gap)

			& > h1
				grid-column: 1/1


			&[class~="reverse"] > h1
				grid-column: 2/2
			& > p.text
				grid-column: 1/1
			&[class~="reverse"] > p.text
				grid:
					column: 2/2
					row: 2/2

			& > img
				margin: auto
				width: calc(0.45 * var(--w))
				grid:
					column: 2/2
					row: 2/2

			&[class~="reverse"] > img
				grid:
					column: 1/1


		// **  max-width($BP4)
		@include max-width($BP4)
			display: flex
			flex-direction: column


			& > img
				margin: 80px auto 60px auto
				width: 100%
				max-height: 250px

			&:first-of-type > img
				margin-top: unset
